server:
  port: 8082

spring:
  application:
    name: homestay-service
  datasource:
    url: jdbc:postgresql://localhost:5432/nbh_db
    username: admin
    password: password
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
