services:
  - type: web
    name: nb-homestay-api
    runtime: docker
    region: singapore
    plan: free
    repo: https://github.com/biswas-sukanta/NBHomestays
    branch: main
    rootDir: backend
    envVars:
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
      - key: PORT
        value: 8080
