spring:
  application:
    name: nb-homestays-backend
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/nbh_db}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    user: ${SPRING_FLYWAY_USER}
    password: ${SPRING_FLYWAY_PASSWORD}
    out-of-order: true
    baseline-on-migrate: true
    validate-on-migrate: false
    locations: classpath:db/migration
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080

sentry:
  dsn: ${SENTRY_DSN:}

  # ZERO IMPACT: Only traces 10% of API calls to save JVM CPU and quota
  traces-sample-rate: 0.1 

  # Ensures Sentry catches errors before Spring's DefaultHandlerExceptionResolver hides them
  exception-resolver-order: -2147483647 
