<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Sentry Appender -->
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <options>
            <!-- NOTE: DSN is picked up from SENTRY_DSN env var or application logic -->
        </options>
        <!-- Minimum level to log to Sentry -->
        <minimumEventLevel>WARN</minimumEventLevel>
        <minimumBreadcrumbLevel>INFO</minimumBreadcrumbLevel>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <!-- Sentry is added here to catch WARN/ERROR logs automatically -->
        <appender-ref ref="Sentry"/>
    </root>
</configuration>
